.wrapMenu {
  padding-top: 10px;
  background: var(--bg-secondary);
  width: 8%;
  height: 100%;
  position: fixed;
  box-shadow: var(--color-shadow);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: 1.2rem;
  z-index: 999;
}

a {
  color: white !important;
  text-shadow: var(--color-shadow);
  display: flex;
  justify-content: center;
  height: 30px;
}
